<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Traces</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Add</a>
                </div>
            </div>
            <!-- Title -->
            <!--            <div class="mt-2">-->
            <!--                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">-->
            <!--                    Layouts-->
            <!--                </h2>-->
            <!--            </div>-->
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:px-10">
        <div class="max-w-3xl">
            <!-- Sectioned form with separate cards #3 -->
            <form [formGroup]="traceForm">
                <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                    <div class="p-8 bg-gray-50 dark:bg-gray-700">
                        <p class="text-lg font-medium">New trace</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-8 pb-4">
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Name</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input matInput [formControlName]="'name'"
                                       placeholder="Add trace name">
                                <mat-error *ngIf="traceForm.get('name').hasError('required')">
                                    Username is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Depart</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-select [value]="'Choose the depart station'" [formControlName]="'depart'">
                                    <mat-option [value]="'Choose the depart station'">Choose the depart station</mat-option>
                                    <ng-container *ngIf="(stations$ | async) as stations">
                                        <ng-container *ngIf="stations.length > 0; else noTraces">
                                            <ng-container *ngFor="let station of stations; trackBy: trackByFn">
                                                <mat-option [value]="station">{{station?.name}}</mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </mat-select>
                                <ng-template #noTraces>
                                    <div
                                        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                        There are no stations! <span>Add a<a [routerLink]="['/pages/add-station']">station</a></span>
                                    </div>
                                </ng-template>

                                <mat-error *ngIf="traceForm.get('depart').hasError('required')">
                                    Email is required
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Destination</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-select [value]="'Choose the depart station'" [formControlName]="'destination'">
                                    <mat-option [value]="'Choose the depart station'">Choose the depart station</mat-option>
                                    <ng-container *ngIf="(stations$ | async) as stations">
                                        <ng-container *ngIf="stations.length > 0; else noTraces">
                                            <ng-container *ngFor="let station of stations; trackBy: trackByFn">
                                                <mat-option [value]="station">{{station?.name}}</mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </mat-select>
                                <ng-template #noTraces>
                                    <div
                                        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                        There are no stations! <span>Add a<a [routerLink]="['/pages/add-station']">station</a></span>
                                    </div>
                                </ng-template>

                                <mat-error *ngIf="traceForm.get('destination').hasError('required')">
                                    Email is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Station between</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-select [value]="'Choose the station inline'" [formControlName]="'between'" multiple>
                                    <mat-option [value]="'Choose the depart station'">Choose the station between</mat-option>
                                    <ng-container *ngIf="(stations$ | async) as stations">
                                        <ng-container *ngIf="stations.length > 0; else noTraces">
                                            <ng-container *ngFor="let station of stations; trackBy: trackByFn">
                                                <mat-option [value]="station">{{station?.name}}</mat-option>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </mat-select>
                                <ng-template #noTraces>
                                    <div
                                        class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                        There are no stations! <span>Add a<a [routerLink]="['/pages/add-station']">station</a></span>
                                    </div>
                                </ng-template>

                                <mat-error *ngIf="traceForm.get('destination').hasError('required')">
                                    Email is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Trasnport</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <mat-select [value]="'Choose the transport type'" [formControlName]="'transport'">
                                    <mat-option [value]="'Choose the transport type'">Choose the transport type</mat-option>
                                    <mat-option [value]="'train'">Train</mat-option>
                                    <mat-option [value]="'aeroport'">Aeroprt</mat-option>
                                </mat-select>

                                <mat-error *ngIf="traceForm.get('transport').hasError('required')">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Date sortie</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input [formControlName]="'departureDate'"
                                       matInput type="time"
                                       >

                                <mat-error *ngIf="traceForm.get('departureDate').hasError('required')">
                                    departure Date is required
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span
                                class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">
                                Date d'arrivée</span>
                            <mat-form-field class="fuse-mat-dense flex-auto">
                                <input [formControlName]="'arrivalDate'"
                                       matInput type="time"
                                       >
                                <!--<mat-datepicker-toggle-->
                                <!--    matSuffix-->
                                <!--    [for]="picker1"></mat-datepicker-toggle>-->
                                <!--<mat-datepicker #picker1></mat-datepicker>-->

                                <mat-error *ngIf="traceForm.get('arrivalDate').hasError('required')">
                                    arrival Date is required
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-10">
                    <button mat-button (click)="cancelTraceForm()">
                        Cancel
                    </button>
                    <button (click)="addTrace()"
                            class="px-6 ml-3" [disabled]="traceForm.invalid"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

