<div class="flex flex-col flex-auto min-w-0" *ngIf="user?.id!==null" >
    <div class="flex flex-col shadow bg-card">
<!--<div>-->
<!--    <img-->
<!--        class="h-40 lg:h-80 object-cover"-->
<!--        src="assets/images/pages/profile/cover.jpg"-->
<!--        alt="Cover image">-->
<!--</div>-->
<!-- User info -->
<!--<div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">-->
<!--    &lt;!&ndash; Avatar &ndash;&gt;-->
<!--    <div class="-mt-26 lg:-mt-22 rounded-full">-->
<!--        <img-->
<!--            class="w-32 h-32 rounded-full ring-4 ring-bg-card"-->
<!--            src="assets/images/avatars/male-04.jpg"-->
<!--            alt="User avatar">-->
<!--    </div>-->
<!--    <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">-->
<!--        <div class="text-lg font-bold leading-none">{{user?.name}}</div>-->
<!--        <div class="text-secondary">{{user?.email}}</div>-->
<!--    </div>-->
<!--    <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>-->
<!--</div>-->
    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8"
         *ngIf="idUser  ; else noId">
        <div class="hidden lg:flex flex-row items-start " [formGroup]="userForm">
            <fuse-card class="flex flex-col max-w-120 w-100 py-8 px-4 mr-2 h-80">
                <div class="p-8 pb-4">
                    <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                        <!--<span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">User picture</span>-->
                        <div>
                            <input
                                id="image-file-input"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                type="file"
                                [accept]="'image/jpeg, image/png'"
                                (change)="uploadImage($event)"
                                #imageFileInput>
                            <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                                for="image-file-input"
                                matRipple>
                                <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon>
                            </label>
                            <!--                                {{userForm.get('picture').errors | json}}-->
                            <!--                                <mat-error *ngIf="userForm.get('picture').hasError('required')">-->
                            <!--                                    Picture is required-->
                            <!--                                </mat-error>-->
                        </div>
                    </div>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col max-w-120 w-100 py-8 px-4 mr-2 h-80">

                <div class="flex flex-col items-center lg:items-start ">
                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                        <mat-label>Nom</mat-label>

                        <input matInput [formControlName]="'name'"
                               placeholder="Ajouter le nom de formateur">
                        <mat-error *ngIf="userForm.get('name').hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                        <mat-label>Adresse email</mat-label>

                        <input matInput [formControlName]="'email'"
                               placeholder="Ajouter le nom de formateur">
                        <mat-error *ngIf="userForm.get('email').hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                        <mat-label>Phone number</mat-label>

                        <input matInput [formControlName]="'phonenumber'"
                               placeholder="Ajouter le nom de formateur">
                        <mat-error *ngIf="userForm.get('phonenumber').hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>

                </div>
            </fuse-card>
            <fuse-card class="flex flex-col max-w-80 w-full p-8 mr-2 h-80">
                <div class="flex flex-col">
                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                        <mat-label>Address</mat-label>

                        <input matInput [formControlName]="'address'"
                               placeholder="Ajouter le nom de formateur">
                        <mat-error *ngIf="userForm.get('address').hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                        <mat-label>Date de naissance</mat-label>

                        <input [formControlName]="'datedenaissance'"
                               matInput
                               [matDatepicker]="picker1">
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>

                        <mat-error *ngIf="userForm.get('datedenaissance').hasError('required')">
                            Poste is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <button
                    mat-flat-button
                    color="primary"
                    class="px-6 mt-8  "
                    (click)="update()">
                    Valider
                </button>
            </fuse-card>
        </div>

    </div>
    <ng-template #noId>

        <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">
            <div class="hidden lg:flex flex-row items-start ">
                <fuse-card class="flex flex-col max-w-90 w-80 p-8 mr-2 h-100 align-middle justify-center
                 " style="align-items: center">
                    <div class="mt-2 rounded-full">
                        <img
                            class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                            [src]="imgUrl"
                            alt="User avatar">
                    </div>
                    <div class="flex flex-col items-center lg:items-start mt-4 lg:-ml-4 lg:ml-8">
                        <div class="text-lg font-bold leading-none">{{user?.name}}</div>
                        <div class="text-secondary">{{user?.email}}</div>
                    </div>
                </fuse-card>
                <fuse-card class="flex flex-col max-w-90 w-80 h-100  p-8 mr-2">
                    <div class="text-2xl font-semibold leading-tight">About Me</div>
                    <div class="mt-4">{{user?.role === 'ROLE_ADMIN' ? 'Administrateur' : 'Client'}}</div>
                    <hr class="w-full border-t my-6">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <span class="leading-none">{{user?.address}}</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                            <span class="leading-none">{{user?.datedenaissance | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            <span class="leading-none">{{user?.phonenumber}}</span>
                        </div>
                    </div>
                    <button
                        mat-flat-button
                        color="primary"
                        class="px-6 mt-8  "
                        routerLink="/pages/profile/{{user?.id}}">
                        Edit profile
                    </button>
                </fuse-card>
            </div>
        </div>
    </ng-template>

</div>
